h1 {
  text-align: center;
}

#container {
  background-color: #003049;
  width: 90%;
  /* height: 700px; */
  margin: 0 auto;
  border: 5px solid #003049;
  font-size: 50px;
  display: flex; /* flexbox berfungsi untuk mengatur tata letak elemen dalam wadah flex.*/
  flex-direction: row; /* flex direction berfungsi untuk mengatur arah flex item dalam wadah flex.*/
  /* flex-wrap: wrap; flex wrap berfungsi untuk mengatur apakah flex item dalam wadah flex akan dibungkus atau tidak. */
  justify-content: center; /* justify content berfungsi untuk mengatur jarak antar flex item dalam wadah flex (vertikal). */
  align-items: center; /* align items berfungsi untuk mengatur posisi flex item dalam wadah flex (horizontal).*/
  /* align-content: center; align content berfungsi untuk mengatur jarak antar flex item dalam wadah flex (horizontal). */
}

#container div {
  width: 200px;
  height: 200px;
  flex-basis: 400px; /* flex basis berfungsi untuk mengatur ukuran flex item secara otomatis dalam wadah flex tergantung flex directionnya (jika row maka width yang berlaku dan jika column maka height yang berlaku. */
}

div:nth-of-type(1) {
  /*align-self: flex-start;  align self berfungsi untuk mengatur posisi flex item dalam wadah flex tertentu(horizontal).  */
  flex-grow: 1; /* flex grow berfungsi untuk mengatur jumlah space element yang tersedia pada pembungkusnya. */
  flex-shrink: 2; /* flex shrink berfungsi untuk jika elemen lebih besar dari pembungkus/containernya, maka mereka akan mengecil sesuai nilai yang kita berikan pada flex-shrink. */
}
/*
div:nth-of-type(2) {
  align-self: flex-end;
}

div:nth-of-type(3) {
  align-self: flex-end;
}
*/
div:nth-of-type(5) {
  /* align-self: flex-start; */
  flex-grow: 1;
  flex-shrink: 2;
}
